openapi: 3.0.0
info:
  title: Vipps Settlements API
  description: >-
    API to retrieve settlement data: https://github.com/vippsas/vipps-settlements-api
  version: '0.0.2'
servers:
  - url: https://api.vipps.no
    description: Production environment
  - url: https://apitest.vipps.no
    description: Merchant Test environment
paths:
  "/experimental/salesunits/{msn}/transactions":
    parameters:
      - name: msn
        in: path
        required: true
        example: 123456
        schema:
          type: string
    get:
      summary: Get transactions
      tags: [Settlements]
      operationId: get-transactions-date-range
      description: Get transactions for the specified MSN for the specified date range.
      parameters:
        - name: firstdate
          in: query
          required: true
          schema:
            type: string
          description: The first date to include. Both YYYY-MM-DD and YYYY-MM are accepted.
          example: "2021-01-31"
        - name: lastdate
          in: query
          schema:
            type: string
          description: The last date to include. Both YYYY-MM-DD and YYYY-MM are accepted.
          example: "2021-12-31"
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum:
              - json
              - csv
              - xml
              - pdf
            default: "json"
          description: Not implemented yet. Default "json".
          example: "json"
      responses:
        '200':
          description: 'List of transactions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '404':
          description: No transactions
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Please be reasonable in your demands.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Transaction:
      description: 'Transaction'
      type: object
      required:
        - orderId
        - transactionId
        - transactionDate
        - amount
        - message
      properties:
        orderId:
          type: string
          minLength: 5
          example: "acme-shop-123-order123abc"
        transactionId:
          type: string
          minLength: 5
          example: 543210
        transactionDate:
          type: string
          example: "2018-11-14T15:22:46.680Z"
          description: Timestamp in ISO-8601 representing when Vipps did the payment
        amount:
          type: number
          description: >-
            Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.
          example: "49900"
        message:
          type: string
          example: "One pair of Vipps socks"
    Error:
      description: 'Standard Error accoring to the RFC'
      type: object
      properties:
        type:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        detail:
          type: string
          minLength: 1
        instance:
          type: string
          minLength: 1
        invalidParams:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - name
              - reason
            properties:
              name:
                type: string
                minLength: 1
              reason:
                type: string
                minLength: 1
      required:
        - type
        - title
        - detail
        - instance
        - invalidParams
      x-examples:
        example-1:
          type: 'https://example.net/validation-error'
          title: Your request parameters didn't validate.
          detail: Optional additional information to give more detail than the title
          instance: 123e4567-e89b-12d3-a456-426655440000
          invalidParams:
            - name: age
              reason: must be a positive integer
            - name: color
              reason: 'must be ''green'', ''red'' or ''blue'''
