openapi: 3.0.0
info:
  title: Vipps Settlements API
  description: >-
    API to retrieve settlement data: https://github.com/vippsas/vipps-settlements-api
  version: '0.0.2'
servers:
  - url: https://api.vipps.no
    description: Production environment
  - url: https://apitest.vipps.no
    description: Merchant Test environment
paths:
  "/experimental/salesunits/{msn}/transactions":
    parameters:
      - name: msn
        in: path
        required: true
        example: 123456
        schema:
          type: string
    get:
      summary: Get transactions
      tags: [Settlements]
      operationId: get-transactions-date-range
      description: Get transactions for the specified MSN for the specified date range.
      parameters:
        - name: firstdate
          in: query
          required: true
          schema:
            type: string
          description: The first date to include. Both YYYY-MM-DD and YYYY-MM are accepted.
          example: "2021-01-31"
        - name: lastdate
          in: query
          schema:
            type: string
          description: The last date to include. Both YYYY-MM-DD and YYYY-MM are accepted.
          example: "2021-12-31"
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum:
              - json
              - csv
              - xml
              - pdf
            default: "json"
          description: Not implemented yet. Default "json".
          example: "json"
      responses:
        '200':
          description: 'List of transactions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '404':
          description: No transactions
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Please be reasonable in your demands.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Transaction:
      description: 'Transaction'
      type: object
      required:
        - orderId
        - transactionId
        - transactionDate
        - amount
        - message
      properties:
        orderId:
          type: string
          minLength: 5
          example: "acme-shop-123-order123abc"
        transactionId:
          type: string
          minLength: 5
          example: 543210
        transactionDate:
          type: string
          example: "2018-11-14T15:22:46.680Z"
          description: Timestamp in ISO-8601 representing when Vipps did the payment
        amount:
          type: number
          description: >-
            Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.
          example: "49900"
        message:
          type: string
          example: "One pair of Vipps socks"
    Error:
      type: object
      required:
        - errorGroup
        - errorCode
        - errorMessage
      properties:
        errorGroup:
          type: string
          description: "The error group. See: https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#error-groups"
          enum:
            - Authentication
            - Payments
            - InvalidRequest
            - VippsError
            - User
            - Merchant
          example: "Payments"
        errorCode:
          type: string
          description: "The error code. See: https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#error-codes"
          example: "44"
        errorMessage:
          type: string
          description: "A description of what went wrong. See https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#errors"
          example: "Refused by issuer because of expired card"
        contextId:
          type: string
          description: "A unique id for this error, useful for searching in logs"
          example: f70b8bf7-c843-4bea-95d9-94725b19895f
